# API KEYS
CRYPTOAPIS_API_KEY=8752418fc8665de247def11cadf97aae7e3bb091
CRYPTOCOMPARE_API_KEY=fec70f798ace5d55b5a329b6d16f881e20151c27acec5bc942884e0f9fa6720d

# NODE SETTINGS
NODE_URL=http://terrad:1317
#NODE_URL=https://bombay-fcd.terra.dev

CHAIN_ID=localterra
#CHAIN_ID=bombay-10

WS_URL=ws://localhost:26657/websocket
# WS_URL=ws://3.34.163.215:26657/websocket

# ORACLES
ORACLE1=symbol force gallery make bulk round subway violin worry mixture penalty kingdom boring survey tool fringe patrol sausage hard admit remember broken alien absorb
ORACLE2=quality vacuum heart guard buzz spike sight swarm shove special gym robust assume sudden deposit grid alcohol choice devote leader tilt noodle tide penalty
ORACLE3=bounce success option birth apple portion aunt rural episode solution hockey pencil lend session cause hedgehog slender journey system canvas decorate razor catch empty

# GAUNTLET
MNEMONIC=notice oak worry limit wrap speak medal online prefer cluster roof addict wrist behave treat actual wasp year salad speed social layer crew genius