[submodule "external-adapters"]
	path = external-adapters
	url = https://github.com/smartcontractkit/external-adapters-js
	branch = feature/terra-adapter
[submodule "LocalTerra"]
	path = LocalTerra
	url = https://github.com/terra-money/LocalTerra
	branch = main
[submodule "terra-contracts/contracts"]
	path = terra-contracts/contracts
	url = https://github.com/hackbg/chainlink-terra-cosmwasm-contracts
	branch = develop
[submodule "external-initiator"]
	path = external-initiator
	url = https://github.com/smartcontractkit/external-initiator
	branch = terra-lite
