[submodule "external-adapters"]
	path = external-adapters
	url = https://github.com/hackbg/external-adapters-js
[submodule "LocalTerra"]
	path = LocalTerra
	url = https://github.com/terra-money/LocalTerra
