[submodule "external-adapters"]
	path = external-adapters
	url = https://github.com/hackbg/external-adapters-js
	branch = feature/terra-ea-refactor
[submodule "LocalTerra"]
	path = LocalTerra
	url = https://github.com/terra-money/LocalTerra
	branch = bombay
[submodule "terra-contracts/contracts"]
	path = terra-contracts/contracts
	url = https://github.com/hackbg/chainlink-terra-cosmwasm-contracts
	branch = feature/flux-aggregator-improvements
[submodule "external-initiator"]
	path = external-initiator
	url = https://github.com/hackbg/external-initiator.git
	branch = feature/terra-integration
